.btn{
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    margin: 5px 10px;
    padding: 10px 15px;
    border-radius: 1px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: white;
    background: blue;
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 0px 2px 8px 2px rgba(141, 150, 178, 0.9);
    transform: scale(1.05);
}

.btn_text {
    margin-right: 20px;
}

.btn_icon_1 {
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding-left: 5px;
}

.btn--magic .btn_icon_1 {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-duration: 3s;
}